In [39]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("Hotel_Reviews.csv")
df = df.dropna()

In [33]:
cities = ["Amsterdam", "London", "Paris", "Vienna", "Milan", "Barcelona"]
countries = ["Netherlands", "United Kingdom", "France", "Austria", "Italy", "Spain"]

def getCity(address):
    city = [city for city in cities if city in address]
    return ''.join(city)

def getCountry(address):
    country = [country for country in countries if country in address]
    return ''.join(country)

In [34]:
city = getCity(df["Hotel_Address"].iloc[0])
country = getCountry(df["Hotel_Address"].iloc[0])
#print(city)
#print(country)

In [35]:
df["City"] = df["Hotel_Address"].apply(getCity)
df["Country"] = df["Hotel_Address"].apply(getCountry)

In [37]:
df.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,City,Country
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677,Vienna,Austria
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677,Vienna,Austria
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677,Vienna,Austria
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677,Vienna,Austria
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677,Vienna,Austria

In [40]:
np.where(pd.isnull(df))

(array([], dtype=int64), array([], dtype=int64))

In [41]:
client = MongoClient("localhost:27017")
db=client.Hotel_Reviews
db.reviews.insert_many(df.to_dict('records'))